/*@font-face {
	font-family: 'Roboto Slab', serif; 
	src: url(https://fonts.googleapis.com/css?family=Roboto+Slab);
}
@font-face {
	font-family: 'Source Sans Pro', sans-serif;
	src: url(@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
}*/
body {
  background-color: #F5B891;
  background-image: url("images/NYCUniversity.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
	font-weight: bold;
	font-size: 2.5em;
	font-family: 'roboto slab', serif;
}
p {
	font-size: 1.25em;
	font-family: 'Source Sans Pro', sans-serif;
    padding-right: 40em;
    padding-left: 10em;
}
ul {
    text-align: left;
    list-style-type: none;
    font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
}