body {
	font-family: Verdana;
	text-decoration: none;
	width: 100%;
	background-color: white;
}
header {
	text-align: center;
	font-weight: bold;
}
#two_column {

}
ul {
	text-decoration: none;
	border: solid;
	list-style-type: none;
	float: left;
	padding: 2%;
	width: 10em;
	color: ##f44336;
}
li {
	background-color: ##f44336;
}
#left {
	float: left;
	padding: 10%;
}
#right {
	float:right;
	padding: 10%;
}
