*, *:before, *:after {
	box-sizing: border-box;
}
/*.box {
	width: 1250px;
	position: center;*/
/*	margin-right: 10px;
	margin-left: 10px;*/
/*#col_1 {
    width: 100%;
}
#col_2 {
	width: 100%;
}
*/
#page-wrap {
	font-family: Verdana;
/*	background-color: yellow;*/
	position: center;
/*	text-align: left;*/
/*	width: 100%;*/
	/*margin-left: 10px;
	margin-right: 10px;*/
/*	padding-right: 25%;
	padding-left: 25%;*/
}

#image-wrap {
/*	margin-top: 5%;*/
/*	background-color: red;*/
/*	width: 100%;
	height:100%;*/
	overflow: hidden;
/*	margin-left: 10px;*/
}
/*}
header {
	padding-right: 2em;
	padding-left: 2em*//
/*}*/
header h1 {
	font-family: Verdana sans-serif;
/*	text-align: center;*/
	font: 100 20px;
	font-weight: bold;
	letter-spacing: 2px;
	margin:0 auto;
    padding: 0 auto;
}
/*body {
	padding: 10px;
}*/
body {
	max-width: 1080px;
	margin: 0 auto !important;
	float: none !important;
/*	background-color: black;*/
	text-align: center;
	width: 100%;
	position: center;
}
article.clients {
/*	background-color: white;*/
/*	padding-right: 15px;
	padding-left: 15px;*/
/*	width: 400px;*/
    float: center;
    display: inline-block center;
    vertical-align: middle;
    margin-top: .75em;
    margin-left: .30em;
    margin-right: .30em;
    margin-bottom: .15em;
    float: left;
    /*-webkit-border-radius: 3px;
       -moz-border-radius: 3px;
                 border-radius: 3px;*/
}
article.top_images {
/*	padding-right: 5px;
	padding-left: 5px;*/
	margin-top: 2em;
	float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
}
/*article.clients * {
    vertical-align: middle;
/*}*/
/*article.clients span {
    display: inline-block;
    height: 100%;
    width: 1px;*/
}
img {
	height: 233px;
	width: 350px;
	display: block;
}
.nav {
	text-decoration: none;
	font-weight: bold;
	font-family: verdana;
    border-width:2px 0;
    list-style:none;
    margin:0 auto;
    padding: 0 auto;
    text-align:center;

}
.nav li{
	text-decoration: none;
    display:inline;
    margin: 0 auto;
}
.nav a{
	margin: 0;
    display:inline-block;
    padding:10px;
}
a:hover {
	background-color: gray;
	letter-spacing: 2px;
	color: white;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.nav_foot {
	text-decoration: none;
	display: inline-block;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
}
.nav_foot li {
	text-decoration: none;
    display:inline;
    margin: 0 auto;
}
.nav_foot a {
	margin: 0;
    display:inline-block;
    padding:10px;
}
.nav_foot a:link, .nav_foot a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
aside {
	float: none;
	display: block;
}