#page-wrap {
/*	font-family: Verdana; */
	font: 200pt;
	padding: 1%;
	padding-bottom: 2%;
	position: center;
	margin: 0;
}
.photo-grid{
	/*font-family: verdana, sans-serif;*/
/*	margin-top: 5%;*/
/*	background-color: red;*/
/*	width: 100%;
	height:100%;*/
/*	overflow: visible;*/
/*	margin-left: 10px;*/
}
header h1 {
	font-family: Verdana sans-serif;
	text-align: center;
	font: 20pt;
	font-weight: bold;
	letter-spacing: 2px;
	margin:0 auto;
    padding: 0 auto;
}
header h1{
	font-family: Verdana;
}
body {
	max-width: 1080px;
	margin: 0 auto !important;
	float: none !important;
/*	background-color: black;*/
	text-align: center;
	width: 100%;
	position: center;
}
article.clients {
    float: left;
/*    vertical-align: middle;*/
    margin-top: 0 auto;
    margin-left: .30em;
    margin-right: .30em;
    margin-bottom: .15em;
}
article {
	float: left;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    overflow: hidden;
    opacity: .5;
}
/*article:hover {
	opacity: 1;
}*/
article p { /*THIS IS THE ONE THAT DOES THE WORDS ON TOP*/
 	visibility: hidden;
	position: absolute;
	padding: 3%;
	font-family: Verdana;
	color: black;
	background-color:white;
	text-align: center;
	font-weight: Bold;
}
article:hover {
	opacity: 1
}
article:hover p {
	visibility: visible;
}
li {
	font-family: Verdana;
}
.nav {
	font-family: Verdana
	text-decoration: none;
	font-weight: bold;
    border-width:2px 0;
    list-style:none;
    margin: 2% auto;
    text-align:center;

}
.nav li{
	text-decoration: none;
    display:inline;
    margin: 0 auto;
}
.nav a{
	margin: 0;
    display:inline-block;
    padding:10px;
}
a:hover {
	letter-spacing: 2px;
	opacity: .5;
}
a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.nav_foot {
	float: center;
	position:relative;
	text-decoration: none;
	display: inline-block;
	font-family: Verdana;
	font-weight: bold;
	font-size: 10px;
	margin-top: 1.5em;
}
.nav_foot li {
	text-decoration: none;
    display: inline;
    margin: 0 auto;
    float: none;
}
.nav_foot a {
	margin: 0;
    display:inline-block;
    padding:10px;
}
.nav_foot a:link, .nav_foot a:visited {
    background-color: #000000;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}